<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated example -->
      <package
            uri="http://com.example/models/2/"
            class="com.example.Model.ModelPackage"
            genModel="model/example.genmodel"/>
   </extension>

</plugin>
